<div class="column-form" mat-dialog-content>
  <h1 class="column-form__title">{{ formData.formTitle }}</h1>
  <form
    class="column-form__form-fields"
    [formGroup]="columnForm"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field appearance="fill">
      <mat-label>{{
        'PROJECT_BOARD.columnForm.titleLabel' | translate
      }}</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>
    <div
      *ngIf="title?.invalid && (title?.dirty || title?.touched)"
      class="alert"
    >
      <div *ngIf="title?.errors?.['required']">
        {{ 'PROJECT_BOARD.columnForm.errors.title.required' | translate }}
      </div>
      <div *ngIf="title?.errors?.['minlength']">
        {{ 'PROJECT_BOARD.columnForm.errors.title.minLength' | translate }}
      </div>
      <div *ngIf="title?.errors?.['maxlength']">
        {{ 'PROJECT_BOARD.columnForm.errors.title.maxLength' | translate }}
      </div>
    </div>
    <mat-form-field appearance="fill">
      <mat-label>{{ 'PROJECT_BOARD.columnForm.color' | translate }}</mat-label>
      <mat-select formControlName="color" [(value)]="selectedColor">
        <mat-select-trigger>
          <span
            class="color-preview"
            [ngStyle]="{ 'background-color': selectedColor }"
          ></span>
        </mat-select-trigger>
        <mat-option *ngFor="let color of colors" [value]="color">
          <span
            class="color-preview"
            [ngStyle]="{ 'background-color': color }"
          ></span>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div
      *ngIf="color?.invalid && (color?.dirty || color?.touched)"
      class="alert"
    >
      <div *ngIf="color?.errors?.['required']">
        {{ 'PROJECT_BOARD.columnForm.errors.color.required' | translate }}
      </div>
    </div>
    <div class="column-form__btns">
      <button class="close-btn btn" (click)="onCloseClick()" type="button">
        {{ formData.cancelText | uppercase }}
      </button>
      <button
        class="create-btn btn"
        [class.disabled]="columnForm.invalid"
        type="submit"
      >
        {{ formData.confirmText | uppercase }}
      </button>
    </div>
  </form>
</div>
