<div class="container">
  <form
    class="auth-form"
    [formGroup]="authForm"
    (ngSubmit)="onSubmit()"
    [ngClass]="!isLoginMode ? 'signup' : 'login'"
  >
    <mat-form-field
      class="auth-field"
      floatLabel="auto"
      appearance="outline"
      *ngIf="!isLoginMode"
    >
      <mat-label class="auth-label">First Name</mat-label>
      <input
        type="text"
        id="first-name"
        formControlName="firstName"
        matInput
        name="first-name"
        placeholder="First Name"
      />
    </mat-form-field>
    <mat-form-field
      class="auth-field"
      floatLabel="auto"
      appearance="outline"
      *ngIf="!isLoginMode"
    >
      <mat-label class="auth-label">Last Name</mat-label>
      <input
        type="text"
        id="last-name"
        formControlName="lastName"
        matInput
        name="last-name"
        placeholder="Last Name"
      />
    </mat-form-field>
    <mat-form-field class="auth-field" floatLabel="auto" appearance="outline">
      <mat-label class="auth-label">Email</mat-label>
      <input
        type="email"
        id="email"
        formControlName="email"
        matInput
        name="email"
        placeholder="Email"
      />
      <!-- <mat-error
        *ngIf="
          hasError('email', 'required') && signupForm.get('email')?.touched
        "
        >Please enter a login email</mat-error
      >
      <mat-error
        *ngIf="hasError('email', 'email') && signupForm.get('email')?.touched"
        >The login email is invalid</mat-error
      > -->
    </mat-form-field>
    <mat-form-field class="auth-field" floatLabel="auto" appearance="outline">
      <mat-label class="auth-label">Password</mat-label>
      <input
        class="auth-input"
        type="password"
        id="password"
        formControlName="password"
        matInput
        placeholder="Password"
        name="password"
      />
      <!-- <mat-hint align="start"
        >Your password should include at least 1 uppercase character, lowercase character, number,
        special symbol and be at least 8 characters long</mat-hint
      >
      <mat-error *ngIf="hasError('password', 'required')">Please enter a password</mat-error>
      <mat-error *ngIf="!signupForm.get('password')?.valid && signupForm.get('password')?.touched"
        >Your password isn't strong enough:
        <span *ngIf="validationPassword.noUppercase">
          Password must contain at least 1 uppercase letter</span
        >
        <span *ngIf="validationPassword.noLowercase">
          Password must contain at least 1 lowercase letter</span
        >
        <span *ngIf="validationPassword.noNumber"> Password must contain at least 1 number</span>
        <span *ngIf="validationPassword.noCharacter">
          Password must contain at least 1 special character</span
        >
        <span *ngIf="validationPassword.noLength"> Password must be at least 8 characters long</span>
      </mat-error> -->
    </mat-form-field>
    <div class="buttons-container">
      <button
        type="submit"
        mat-stroked-button
        color="primary"
        class="button login-button"
      >
        {{ isLoginMode ? 'Login' : 'Signup' }}
      </button>
      <span> | </span>
      <button
        type="button"
        mat-stroked-button
        color="primary"
        class="button switch-button"
        (click)="onSwitchMode()"
      >
        {{ isLoginMode ? 'Switch to signup' : 'Switch to login' }}
      </button>
    </div>
  </form>
</div>
