<div class="column">
  <div class="column__header header">
    <h2 class="header__title" (click)="editColumnDialog()">
      {{ column.title }}
    </h2>
    <span class="header__task-count">{{ column.tasks.length || '' }}</span>
    <button
      class="header__more-icon"
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Column actions menu"
    >
      <mat-icon class="edit-icon" fontIcon="more_vert"></mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon
          class="add-icon"
          aria-hidden="false"
          fontIcon="add"
        ></mat-icon>
        <span>Add task</span>
      </button>
      <button mat-menu-item (click)="deleteColumnDialog()">
        <mat-icon class="delete-icon" fontIcon="delete"></mat-icon>
        <span>Delete column</span>
      </button>
    </mat-menu>
  </div>
  <div class="column__body">
    <app-task
      *ngFor="let task of column.tasks"
      [task]="task"
      (click)="editTaskDialog(task)"
      (deleteClick)="deleteTaskDialog($event)"
    ></app-task>
  </div>
</div>
