@import '../../../../shared/variables';

.search-form {
  &__input {
    min-width: 400px;
    height: 40px;
    padding: 0 20px;
    font-size: 14px;
    border: 1px solid $color-grey-light;
    border-radius: 8px;
    background-color: $color-white;
    outline: none;
  }
}
