:host {
  height: 100px;
  display: flex;
  align-items: center;
  padding: 40px;
  @media (min-width: 320px) and (max-width: 767px) {
    padding: 0 20px;
    justify-content: center;
  }
  @media (min-width: 320px) and (max-width: 450px) {
    padding: 0 5px;
  }
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
}

.footer__copyright {
  grid-column: 1 / 2;
}

.footer__team {
  grid-column: 2 / 11;
  display: flex;
  justify-content: space-evenly;

  .team-member {
    text-decoration: none;
  }
}

.footer__rs-school {
  grid-column: 11 / 13;
  height: 100%;
  display: flex;
  align-items: center;

  .rs-school-link {
    display: flex;
    justify-content: flex-end;
  }

  .rs-school-logo {
    width: 50%;
    height: auto;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .footer__copyright {
    justify-content: center;
  }
  .footer__team {
    flex-basis: 30%;
    flex-direction: column;
    align-items: center;
  }
  .footer__rs-school {
    flex-basis: 300px;
  }
  .rs-school-logo {
    flex-basis: 50%;
  }
  .rs-school-link {
    justify-content: flex-start;
  }
}
