:host {
  height: 120px;
  display: flex;
  align-items: center;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
}

.footer__copyright {
  grid-column: 1 / 2;
}

.footer__team {
  grid-column: 2 / 11;
  display: flex;
  justify-content: space-evenly;

  .team-member {
    text-decoration: none;
  }
}

.footer__rs-school {
  grid-column: 11 / 13;
  height: 100%;
  display: flex;
  align-items: center;

  .rs-school-link {
    display: flex;
    justify-content: end;
  }

  .rs-school-logo {
    width: 50%;
    height: auto;
  }
}
