@import '../../../shared/variables';
:host {
  background-color: $color-grey-lighter;
  border-top: 1px solid $color-grey-light;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  max-width: 1440px;
  min-height: 80px;
  margin: 0 auto;
}

.footer-container {
  display: grid;
  flex-basis: 100%;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
}

.footer__copyright {
  grid-column: 1 / 2;
}

.footer__team {
  grid-column: 2 / 11;
  display: flex;
  justify-content: space-evenly;

  .team-member {
    text-decoration: none;
    color: $color-black-light;
    font-size: 16px;
    transition: all 0.35s ease;
  }

  .team-member:hover {
    color: $color-purple;
  }
}

.footer__rs-school {
  grid-column: 11 / 13;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .rs-school-link {
    display: flex;
    justify-content: flex-end;
  }

  .rs-school-logo {
    min-width: 100px;
    width: auto;
    height: auto;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer {
    padding: 0 20px;
  }
  .footer-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .footer__copyright {
    justify-content: center;
  }
  .footer__copyright {
    flex-basis: 35%;
    flex-grow: 1;
  }
  .footer__team {
    flex-basis: 80%;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
  }
  .footer__rs-school {
    flex-basis: 30%;
    flex-grow: 0;
  }
  .rs-school-logo {
    flex-basis: 50%;
  }
  .rs-school-link {
    justify-content: flex-start;
  }
}

@media (min-width: 320px) and (max-width: 450px) {
  .footer {
    padding: 0 5px;
  }
}
