@import './app/shared/variables';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn.disabled {
  pointer-events: none;
  cursor: default;
}

.arrow-icon,
.delete-icon {
  color: $color-grey;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: $color-grey-light;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: $color-purple-light;
}

.mat-slide-toggle .mat-slide-toggle-bar {
  background-color: $color-grey-light;
}

.mat-slide-toggle .mat-slide-toggle-thumb {
  background-color: $color-purple-light;
}
