.projects {
  max-width: 1440px;
  padding: 0 40px;
  margin: 40px auto;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 40px;
}
.projects.is-loading {
  display: flex;
  justify-content: center;
  min-height: 50%;
}

.spinner-container {
  align-self: center;
}

@media (min-width: 451px) and (max-width: 767px) {
  .projects {
    padding: 0 20px;
  }
}
@media (min-width: 320px) and (max-width: 450px) {
  .projects {
    padding: 0 5px;
  }
}
