<div class="create-project" mat-dialog-content>
  <h1 class="create-project__title">{{ formData.formTitle }}</h1>
  <form
    class="create-project__form"
    [formGroup]="projectForm"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field appearance="fill">
      <mat-label>{{ 'PROJECTS.projectForm.titleLabel' | translate }}</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{
        'PROJECTS.projectForm.descriptionLabel' | translate
      }}</mat-label>
      <textarea
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="3"
        cdkAutosizeMaxRows="7"
        formControlName="description"
      ></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{ 'PROJECTS.projectForm.userLabel' | translate }}</mat-label>
      <mat-select formControlName="users" multiple>
        <mat-option *ngFor="let user of users$ | async" [value]="user.name">{{
          user.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="create-project__btns">
      <button
        class="create-project__close-btn btn"
        (click)="onCloseClick()"
        type="button"
      >
        {{ formData.cancelText }}
      </button>
      <button
        class="create-project__create-btn btn"
        [class.disabled]="projectForm.invalid"
        type="submit"
      >
        {{ formData.confirmText }}
      </button>
    </div>
  </form>
</div>
