<form class="filter-form">
  <input
    class="filter-form__input"
    type="text"
    name="search"
    [placeholder]="'PROJECTS.actionPanel.search.placeholder' | translate"
    [formControl]="filter"
  />
</form>

<div class="user-switcher">
  <mat-button-toggle-group
    #group="matButtonToggleGroup"
    name="fontStyle"
    aria-label="Font Style"
    [value]="view$ | async"
    (change)="onTasksUserViewChange(group.value)"
  >
    <mat-button-toggle value="all">
      {{
        'PROJECTS.actionPanel.search.filter.allTasks' | translate
      }}</mat-button-toggle
    >
    <mat-button-toggle value="my">
      {{ 'PROJECTS.actionPanel.search.filter.myTasks' | translate }}
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>
