@import '../../../shared/variables';

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 400px;
}

.filter-form {
    width: 240px;
    height: 46px;

    &__input {
      width: 100%;
      height: 100%;
      font-size: 14px;
      color: $color-black-light;
      border: 1px solid $color-grey-light;
      border-radius: 8px;
      background-color: $color-white;
      outline: none;
      padding: 10px;
      transition: all 0.35s ease;
    }
}

.mat-button-toggle-group {
  height: 46px;
}

