@import '../../../shared/variables';

:host {
  height: 120px;
  padding: 20px;
}

.flag-icon {
  border: 1px solid $primary-color;
  background-size: cover;
}

.buttons-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.add-task-btn {
   margin-left: auto;
   display: flex;
   align-items: center;
   gap: 12px;
   padding: 12px 16px;
   background-color: $color-violet;
   color: $color-white;
   line-height: 1;
}

.add-icon {
  display: flex;
  align-items: center;
  width: 16px;
  height: 16px;
  font-size: 20px;
}
