<div
  class="buttons-container"
  *ngIf="{ isAuthenticated: isAuthenticated$ | async } as auth"
>
  <button
    type="button"
    mat-stroked-button
    color="primary"
    class="button"
    *ngIf="!auth.isAuthenticated"
    (click)="onLogin()"
  >
    Login
  </button>
  <button
    type="button"
    mat-stroked-button
    color="primary"
    class="button"
    *ngIf="!auth.isAuthenticated"
    (click)="onSignup()"
  >
    Signup
  </button>
  <button
    type="button"
    mat-stroked-button
    color="primary"
    class="button"
    *ngIf="auth.isAuthenticated"
    routerLinkActive="router-link-active"
    (click)="onLogout()"
  >
    Logout
  </button>
  <button
    type="button"
    mat-stroked-button
    color="primary"
    class="button"
    *ngIf="auth.isAuthenticated"
    routerLinkActive="router-link-active"
    (click)="onEditUser()"
  >
    Edit User
  </button>
  <button
    class="add-task-btn btn"
    *ngIf="auth.isAuthenticated"
    (click)="openCreateTaskDialog()"
  >
    <mat-icon class="add-icon" aria-hidden="false" fontIcon="add"></mat-icon>
    <span>New task</span>
  </button>
</div>
