<header class="header">
  <h1 class="header__logo">
    <a routerLink="/" class="logo-link">OnBoard</a>
  </h1>
  <div class="nav-container">
    <div class="mobile-menu">
      <app-mobile-menu></app-mobile-menu>
    </div>
    <nav class="header__navbar nav">
      <ul class="nav__list">
        <li class="nav__item" routerLinkActive="active">
          <a routerLink="/projects" class="nav__link">{{
            'HEADER.nav.projects' | translate
          }}</a>
        </li>
        <li class="nav__item" routerLinkActive="active">
          <a routerLink="/tasks" class="nav__link">{{
            'HEADER.nav.tasks' | translate
          }}</a>
        </li>
        <li class="nav__item" routerLinkActive="active">
          <a routerLink="/team" class="nav__link">{{
            'HEADER.nav.team' | translate
          }}</a>
        </li>
      </ul>
    </nav>
    <button class="new-project-btn btn" (click)="openCreateProjectDialog()">
      <mat-icon class="add-icon" aria-hidden="false" fontIcon="add"></mat-icon>
      <span>{{
        'PROJECTS.actionPanel.addProjectBtn' | translate | uppercase
      }}</span>
    </button>
    <button
      class="new-project-btn btn new-project-btn__mobile"
      (click)="openCreateProjectDialog()"
    >
      <mat-icon class="add-icon" aria-hidden="false" fontIcon="add"></mat-icon>
    </button>
  </div>
  <div class="header__actions">
    <div class="header__language">
      <mat-label mat-slide-toggle-content class="toggle-lable">ru</mat-label>
      <mat-slide-toggle
        class="toggle-language"
        [checked]="isChecked"
        (change)="onLanguageChange()"
      ></mat-slide-toggle>
      <mat-label mat-slide-toggle-content class="toggle-lable">en</mat-label>
    </div>
    <div class="header__login">
      <app-login-menu
        [isAuthenticated]="isAuthenticated$ | async"
      ></app-login-menu>
    </div>
  </div>
</header>
