<div class="buttons-container">
  <button
    type="button"
    mat-stroked-button
    color="primary"
    class="button"
    *ngIf="!isAuthenticated"
    (click)="onLogin()"
  >
    {{ 'HEADER.buttons.login' | translate }}
  </button>
  <button
    type="button"
    mat-stroked-button
    color="primary"
    class="button"
    *ngIf="!isAuthenticated"
    (click)="onSignup()"
  >
    {{ 'HEADER.buttons.signup' | translate }}
  </button>
  <button
    type="button"
    mat-stroked-button
    color="primary"
    class="button"
    *ngIf="isAuthenticated"
    routerLinkActive="router-link-active"
    (click)="onLogout()"
  >
    {{ 'HEADER.buttons.logout' | translate }}
  </button>
  <button
    type="button"
    mat-stroked-button
    color="primary"
    class="button"
    *ngIf="isAuthenticated"
    routerLinkActive="router-link-active"
    (click)="onEditUser()"
  >
    {{ 'HEADER.navigation.editUser' | translate }}
  </button>
  <mat-button-toggle-group
    name="langSelection"
    aria-label="Language"
    #group="matButtonToggleGroup"
    (change)="onChangeLanguage(group)"
  >
    <mat-button-toggle value="en">{{
      'HEADER.languages.en' | translate
    }}</mat-button-toggle>
    <mat-button-toggle value="ru">{{
      'HEADER.languages.ru' | translate
    }}</mat-button-toggle>
  </mat-button-toggle-group>
</div>
