<form class="search-form">
  <mat-form-field appearance="fill" class="search-form__input">
    <input
      #searchInput
      matInput
      aria-label="State"
      [placeholder]="'PROJECTS.actionPanel.search.placeholder' | translate"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let search of searchResults; let i = index"
        (click)="onResultClick(search._id)"
      >
        <span
          class="search-form__result"
          [routerLink]="['/projects/board/', search.boardId]"
        >
          {{ i + 1 }}. {{ search.title }}
        </span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
