@import '../../../shared/variables';

.projects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-grey-lighter;
  min-height: 130px;
  padding: 0 40px;
  border-top: 1px solid $color-grey-light;
  border-bottom: 1px solid $color-grey-light;

  &__info {
    flex: 1.2;
  }
  
  &__title {
    color: $color-black-light;
    font-size: 22px;
    font-weight: 400;
  }

  &__description {
    font-size: 16px;
  }

  &__search-bar {
    flex: 2;
  }
}