@import '../../../shared/variables';

.projects {
  border-bottom: 1px solid $color-grey-light;

  &__info {
    flex: 1.2;
  }

  &__title {
    color: $color-black-light;
    font-size: 22px;
    font-weight: 400;
  }

  &__description {
    font-size: 16px;
  }

  &__search-bar {
    flex: 2;
    margin-top: -5px;
  }
}

.action-panel-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  min-height: 130px;
  padding: 0 40px;
  margin: 0 auto;
}

.mat-button-toggle-appearance-standard {
  color: $color-grey-light-second;
  font-weight: 200;
}

.mat-button-toggle-checked {
  background-color: $color-grey-lighter;
}

.mat-button-toggle-standalone.mat-button-toggle-appearance-standard,
.mat-button-toggle-group-appearance-standard {
  border-radius: 8px;
  border: 1px solid $color-grey-light;
}

@media (min-width: 768px) and (max-width: 1033px) {
  .action-panel-container {
    gap: 20px;
  }
  .projects {
    &__info {
      flex: 1;
    }
    &__search-bar {
      flex-shrink: 1;
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .action-panel-container {
    flex-wrap: wrap;
    padding: 20px;
    gap: 10px;
  }
  .projects {
    flex-wrap: wrap;
    &__info {
      flex: 1;
      flex-basis: 100%;
    }
    &__search-bar {
      flex-shrink: 1;
    }
  }
}

@media (min-width: 320px) and (max-width: 600px) {
  .projects {
    &__search-bar {
      flex-basis: 100%;
    }
  }
}

@media (min-width: 320px) and (max-width: 450px) {
  .action-panel-container {
    padding: 20px 5px;
  }
}
