<div class="task" [ngClass]="{ 'result-task': resultTask }">
  <div class="task__header">
    <h3 class="task__title">{{ task.title }}</h3>
    <button
      mat-icon-button
      aria-label="delete icon"
      (click)="deleteTask($event)"
    >
      <mat-icon
        class="task__delete-icon delete-icon"
        fontIcon="close"
      ></mat-icon>
    </button>
  </div>
  <p class="task__description">{{ task.description }}</p>
  <span class="task__separator"></span>
  <div class="task__users users">
    <div class="users__avatar" *ngFor="let user of users">
      {{ user.name | initials }}
    </div>
  </div>
</div>
