@import '../../../shared/variables';

.task-form {
  &__form-fields {
    display: flex;
    flex-direction: column;
    min-width: 280px;
  }

  &__btns {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}

.create-btn.btn.disabled {
  background-color: $color-grey;
}

.alert {
  background-color: $color-pink;
  color: $color-brown;
  padding: 3px 3px 3px 10px;
  margin: -8px 0 10px 0;
  border-radius: 5px;
  border: 1px solid $color-pink-dark;
}