$primary-color: rgb(103 58 183);
$secondary-color: rgb(245, 245, 245);
$error-color: rgb(244, 67, 54);
$color-white: #ffffff;
$color-grey-lighter: #f5f5f5;
$color-grey-light: #ddddcd;
$color-grey: #9d9c9c;
$color-violet: #5748b9;
